name: Test

on:
  push:
    branches:
      - '*'
      - '!main'
  pull_request: {}

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

env:
  GITHUB_USERNAME: jamiefdhurst
  GITHUB_TOKEN: example

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install Dependencies
        run: |
          npm i
      - name: Test
        run: |
          npm run test-ci
      - name: Upload Test Results
        uses: actions/upload-artifact@v3
        with:
          name: tests
          path: junit.xml
      - name: Upload Coverage
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: coverage/cobertura-coverage.xml
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          action_fail: true
          files: |
            junit.xml
      - name: Publish Code Coverage
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage/cobertura-coverage.xml
          badge: false
          fail_below_min: false
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '80 90'
      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md
